@import url('https://fonts.googleapis.com/css?family=Roboto:400');
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #fff;
	background: #000;
	overflow: hidden;
	font-size: 0.85rem;
}

img {
 display: flex;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

a:hover,
a:focus {
	color: #333;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Content */
.content {
	padding: 3em 0;
}

.content.main {
	min-height: 100vh;
	padding: 0;
}

.canvas-wrapper {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(0%, 0%);
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}

.lds-hourglass {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
	left: 50%;
	top: 50%;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.toggle-btn {
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: currentColor;
	position: absolute;
	bottom: 2vmax;
	border: 1px solid;
	width: 255px;
}


.toggle-btn {
	background: transparent;
	color: currentColor;
	right: 40vmax;
}

.toggle-btn:focus {
	outline: none;
}

.toggle-btn:hover {
	color: #fff;
}

.txt-note {
	padding: 10px;
	text-align: center;
	letter-spacing: 0.1em;
	color: currentColor;
	position: absolute;
	text-align:left;
	border: 1px solid;
	width: 75vmax;
}


.txt-note {
	background: transparent;
	color: currentColor;
	float: right;
	margin: 10vmax;
  top: 5vmax;

}

.txt-note:focus {
	outline: none;
}

.txt-note:hover {
	color: #fff;
}

.hc-img {
	width: 35vmax;
	height: 35vmax;
	float:left;
	position: absolute;
	border: 1px solid;
	left: 30vmax;
  top: 50vmax;

}


@media screen and (max-width: 55em) {


	.toggle-btn {
		right: 10px;
		bottom: 5vmax;
		width: calc(100% - 20px);
	}

	.hc-img {
		right: 10px;
		bottom: 30vmax;
		width: calc(100% - 20px);
	}

	.txt-note {
		right: 5px;
		bottom: 90vmax;
		width: calc(100% - 20px);

}
